
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Img Start -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
                <img style="width: 500px;height : 400px;" src="/img/ankkalecik.jpg" alt="about us">
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h2 class="title"> <span class="custom-primary">KALE ORGANİK</span> NEREDE ÜRETİM YAPIYOR? </h2>
                    <p class="subtitle">
                        Adını verdiği dünyaca ünlü üzümle anılan Ankara’nın Kalecik ilçesi, şimdi bağlarının yanında organik ürünleriyle de öne çıkıyor.
                        Ankara’nın 65 kilometre kuzeyinde Kızılırmak’ın ikiye böldüğü çanak içinde bir ilçe Kalecik. Rakımı çevresine göre 250 metre düşük olduğu için iklimi de farklı.
                        Kızılırmak’ın açtığı vadi kendine has rüzgarıyla dört bin yıllık geçmişi olan “Kalecik Karası” üzümüne can veriyor.
                        Vadinin iklimi ve Kızılırmak’ın getirdiği kırmızı kumlu toprak bir tarım cennetine çeviriyor ilçeyi.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Img End -->
<!-- Img Start -->
<div class="section pt-0">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
                <img src="/img/about.jpg" alt="img">
                <div class="andro_dots"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h2 class="title"> Dünden bugüne <br /> <span class="custom-primary">KALE ORGANİK</span></h2>
                    <p class="subtitle">
                        2004 yılına kadar ilçenin büyük bölümü gibi konvansiyonel tarım yaparken, “adını bile duymadığım” organik tarımla Ziraat Müdürlüğü görevlileri sayesinde tanıştım.
                        Sunulan imkanların “cazip” olması nedeniyle altı çiftçiyle birlikte üretime başladım. İlk olarak domates, biber, patlıcan, fasulye ve salatalıkla organiğe başladım,
                        şu an 95 dönümlük arazide 35 - 40 çeşit ürün yetiştiriyorum. Yetiştirdiğim ürünler arasında Kalecik karası üzümü de var.
                        Tarım ilacı kullanınca ürünlerin daha parlak ve albenili olduğunu ancak organik ürünlerin daha sağlıklı olduğunu belirtmek istiyorum, fakat
                        ilk üç yıl ürünlerini satacak yer bulamadım; Öncelikle Ankara’daki marketlerle bağlantıya geçtim.Yanıt alamadım. Daha sonra Sebze Meyve Hali’ndeki esnafa ürünü satmaya çalıştım.
                        "Çuvalları şuraya bırak, satılırsa parasını veririm" yanıtıyla karşılaştım. Ankara Ayrancı Pazarı’nda organik ürünler pazarının kurulmasıyla ürünlerimi burada satmaya başladım.
                        Elimde kalan ürünleri da traktöre yükleyip mahalle aralarında satmaya çalışıyordum. Kimse ürünün organik olmasıyla ilgilenmiyordu. Hatta <b>renginin soluk olması ve görüntüsü nedeniyle tepki bile gördüm.</b>
                        Başka satış imkânım olmadığı için piyasadaki diğer ürünler fiyatına satış yapmak zorunda kaldım.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Img End -->
<!-- Img Start -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
                <img style="width: 500px;height : 400px;" src="/img/ankkalecik.jpg" alt="about us">
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h2 class="title"> <span class="custom-primary">KALE ORGANİK</span> SERÜVENİ</h2>
                    <p class="subtitle">
                        Sertifika kuruluşları aracılığıyla Buğday Ekolojik Yaşamı Destekleme Derneği yöneticileriyle tanışmam sayesinde pazarım genişledi.
                        Derneğin daveti üzerine İstanbul’a gittim; Üç pazar üst üste olunca İstanbul daha cazip geldi. Perşembe öğleden sonra Kalecik’ten çıkıp Bakırköy’e gidiyorum.
                        Sabah 05.00 - 06.00 gibi orada oluyorum. Cuma akşama kadar satış yapıyorum. Buradan Şişli Feriköy’e geçiyorum. Cumartesi de oradaki pazarda tezgâh açıyorum.
                        Cumartesi akşamı da Kartal’a geçerek, pazarda satış yapıyorum. Böylece üç gün üst üste satış imkanı buluyorum. Elimdeki ürünü de bitirip Kalecik’e dönüyorum.
                        Her hafta elimdeki ürünü satabilmek için ortalama 1300 kilometre yol yapıyorum. Pazar günleri Ankara’daki pazara da kızlarım ve oğlum gidip satış yapıyor.
                        Başka türlü elimizdeki ürünü satmamız mümkün değil.
                    </p>
                    <p class="subtitle">
                        Ürünlerimiz <a href="http://www.eko-tar.com/"> EKOTAR </a> Kontrol ve Sertifikasyon Kuruluşu tarafından denetlenmekte olup %100
                        organik ürünler yetiştirmekteyiz. Kızım Satı(20) Kosgeb desteği ile genç girişimci olmak istiyor. Ürünlerimizi Organik Manav dükkanı açarak bana destek olmak istiyor.
                        Benim başladğım serüvende çocuklarımın beni desteklemesi çok gurur verici.
                    </p>

                    <a href="/Urun/Index/0" class="andro_btn-custom">Ürünleri İncele</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Img End -->
@*<p class="subtitle">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
    <ul class="andro_list">
        <li>İlk olarak domates, biber, patlıcan, fasulye ve salatalıkla organiğe başlayan Yıldız, şu an 95 dönümlük arazide 35 - 40 çeşit ürün yetiştiriyor.</li>
        <li>Yetiştirdiği ürünler arasında Kalecik karası üzümü de var.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
        <li>Lorem Ipsum has been the industry's standard dummy</li>
    </ul>*@